<% if (user) { %>


<% snip.forEach(function(t) { %>
<div class="item">
    <div class="box">
        <form action="/snippets/<%= t.id %>?_method=DELETE" class="delete-form"
            method="POST">

            <button class="delete is-medium" id="delete-btn"
                href="/snippets/<%= t.id %>">
                </i></button>
        </form>
        <div class="snippet-info">
            <td>

                <span id="snippet-data"><%= t.language %></span><br>
            </td>
            <td>

                <span id=snippet-data><%= t.name %></span>
            </td>
        </div><br>
        <div class="code-block">
            <pre><code data-lang="<%= t.language %>"><%= t.snippet %></code></pre>

        </div>
    </div>
</div>
<% }) %>
<% } else { %>
<h1>Login to see Snippets</h1>
<% } %>