<%- include('../partials/header') %>

<%- include('../partials/nav') %>






<div class="parent">
    <div class="section yellow">
        <%- include('../partials/panel') %>
    </div>
    <div class="section purple">
        <%- include('../partials/code-block') %>
    </div>
</div>
<%- include('../partials/modal') %>
<script src="/javascripts/modal.js">
</script>
</body>


</html>