<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<div class="parent">
    <div class="section yellow">
        <%- include('../partials/panel') %>
    </div>
    <div class="grid">
        <%- include('../partials/code-block') %>
    </div>
</div>

<%- include('../partials/modal') %>
<%- include('../partials/editor-modal') %>
<script src="/javascripts/waterfall.min.js"></script>
<script src="/javascripts/modal.js">

</script>



</body>


</html>